$bg-primary: #6366f1;
$bg-white: #fff;
$bg-black: #181818;
$bg-gray: #7C7D7E;
$shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
$bg-red: #ff605c;
$bg-yellow: #ffbd44;
$bg-green: #00ca4e;


$sm: 48rem;
$md: 76.8rem;
$xl: 124rem;

$text-xs: 1.2rem;
$text-sm: 1.4rem;
$text-base: 1.6rem;
$text-lg: 1.8rem;