@use "../scss/base" as v;
@use "../scss/base" as m;

.about {
  display: flex;
  padding: 10rem 0;
  flex-direction: column;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include m.phone {
      flex-direction: row;
      gap: 2rem;
    }
  }

  &__info-img {
    background: v.$bg-gradient;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  &__info-content {
    text-align: center;
    color: v.$bg-white;

    @include m.phone {
      margin-top: 2rem;
      text-align: left;
    }



    &--name {
      margin-bottom: 1rem;
      font-size: 3rem;
      font-weight: bold;
      color: v.$bg-black;
      font-family: v.$ff-secondary;
      display: flex;
      align-items: center;
      gap: 1rem;

      img {
        width: 4rem;
      }
    }



    &--personal {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-top: 1rem;
      color: v.$bg-black;
    }

    &--skills {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      margin: 2rem 0;

      p {
        background: v.$bg-primary;
        padding: 0.8rem;
        font-weight: bold;
        font-size: v.$text-sm;
        border-radius: 0.5rem;
        transition: opacity 0.2s ease;

        &:hover {
          filter: brightness(0.9);
          cursor: default;
        }
      }
    }

    &--links {
      display: flex;
      justify-content: center;
      gap: 1rem;

      a {
        font-size: 2.5rem;
        color: v.$bg-primary;
      }

      @include m.phone {
        justify-content: flex-start;
      }

      p {
        padding: 0.5rem;
        font-weight: bold;
      }
    }
  }

  &__texts {
    margin-top: 2rem;

    &--heading {
      @include m.hr;
      margin-bottom: 2rem;
    }

    @include m.tablet {
      text-align: left;
      margin-top: 0;
    }
  }
}
