@use "../scss/base" as v;
@use "../scss/base" as m;

.error {
    min-height: 100vh;
    background-color: v.$bg-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: v.$bg-white;
    gap: 2rem;
    font-size: 2rem;

    @include m.phone {
        font-size: 2.5rem;
    }

}

.btn-back {
    background-color: v.$bg-white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    color: #8a2be2;
    transition: opacity 0.2 ease-in;

    &:hover {
        opacity: 0.7;
    }
}