@use "../scss/base" as m;
@use "../scss/base" as v;

.projects {
  min-height: calc(100vh - 8rem);
  background-color: v.$bg-primary;
}

.project {
  padding: 2rem;

  @include m.phone {
    @include m.grid(2, 1rem);
  }

  @include m.tablet {
    @include m.grid(3, 1rem);
  }
}